@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");

/* variable */
:root {
  --white: #c1c1c1;
  --border: rgba(0, 0, 0, 0.5);
  --buttonColor: rgba(255, 165, 0, 0.85);
  --font: "Yanone Kaffeesatz", sans-serif;
  --primary: #aca7cb;
  --secondary: #474554;
  --complementry: #f9dcd9;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--secondary);
}
#addForm {
  background-color:  var(--primary);
  width:50%;
  max-height: 60%;
  min-height: 80%;
 
 
  position: absolute;
  left: 25%;
  top: 18vh;
  right: 20%;
  border-radius: 1rem;
  font-family: var(--font);
  font-size: 35px;
  -webkit-box-shadow: -2px -1px 15px 7px rgba(0,0,0,0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(0,0,0,0.425);
  box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
  /* text-align: center; */
  /* padding-top: 40px; */

}

#close{
  padding-right: 30px;
  text-align: end;
  width:100%;


}

form{
 margin-left: 30px;
 margin-right: 30px;

}
legend{
  font-size: 25px;
  margin-left: 15px;

}

fieldset{
  border: black solid 2px;
  border-radius: 5px;
  height: 400px;
}


input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  border-radius: 3px;
  font-size: 20px;
  padding-left: 5px;
  font-family: var(--font);
  font-weight: bold;
  
  
}
.form{

  margin-top: 25px;
  height: 60px;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: flex-start;
  align-items: center;
}


.block{
  width:300px;
  max-height: 55px;
  min-height:30px;
  padding-left: 15px;
  font-size: 30px;
  
  
}

#button{
  width: 100px;
  margin-top: 30px;
  background: var(--complementry);
  
}
#button button{

  width:100px;
  /* border: solid springgreen 3px; */
  font-size: 25px;
  text-align: center;
  padding-left: 0px;
  background: var(--complementry) ;

 
  

}



.hidden {
  display: none;
}

.card {
  background-color: var(--primary);
  max-width: 301px;
  min-width: auto;
  height: 381px;
  border-radius: 15px;
  text-align: center;
  grid-column: span 2;
  font-size: 40px;
  font-family: var(--font);
  -webkit-box-shadow: -2px -1px 15px 7px rgba(0,0,0,0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(0,0,0,0.425);
  box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
 
}

.card .top {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  margin-bottom: 15px;
}

.cardDelet {
  /* width: 100%; */
  /* border: red solid 1px; */
  text-align: right;
}

.cardTotalPage {
  margin-top: 10px;
}

.noBooks{
  /* min-width: 100%; */
  font-weight: bold;
  font-family: var(--font);
  font-size: 60px;
  text-align: center;
  margin-top: 20%;
}

.cardTitle {
  text-align: center;
  width: 100%;
  font-weight: bold;
  border-top: black solid 1px;
  border-bottom: solid black 1px;
  padding-top: 9px;
}

#main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 25px;
  margin: 0px 80px 0px 80px;
  justify-items: center;
  row-gap: 71px;
 
}

main {
  margin-top: 154px;
}

.slider {
  background-color: chartreuse;
}

.slider:hover {
  background-color: chartreuse;
  animation-name: read;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  display: none;
}

header {
  display: flex;
  font-family: var(--font);
  font-size: 30px;
  font-weight: 700px;
  align-items: center;
  height: 72px;
  background: var(--primary);
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: solid 2.5px #c1c1c1;
}

#header {
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 47px;
}

#info {
  text-align: center;
  width: 138px;
}


/* for chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* for mozila */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

.cardEditSection .pageRead {
  /* background-color: yellowgreen; */
  height: 25px;
  width: 20%;
  background: var(--primary);
}

.cardEditSection {
  margin-top: 15px;
  border: whitesmoke 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--complementry);
}


@media (max-width:700px) {
  .card{

    height: 350px;
    grid-column: span 8;
    font-size: 35px;
  }

  header{
    font-size: 20px;
  }

  #addForm{
    left:0px;
    width:100%
  }

  
}

@media (min-width:701px) and (max-width:1000px){
  .card{
    grid-column: span 4;
  }
}